<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738026773059-5snmk9js0o7egfoclidjqfrmi0349oqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738026773059-5snmk9js0o7egfoclidjqfrmi0349oqg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>738026773059-ft4lfhvikr5sh6mnnjue1c6bt7g05639.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOtU5r-RZKtKkWj-svC6Ud9tiY9WFB-Nw</string>
	<key>GCM_SENDER_ID</key>
	<string>738026773059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helpt</string>
	<key>PROJECT_ID</key>
	<string>ferrous-aleph-310719</string>
	<key>STORAGE_BUCKET</key>
	<string>ferrous-aleph-310719.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738026773059:ios:a4a093069ccce0d2d612f6</string>
</dict>
</plist>